html 
    head 
        title Deltagere
        script(src="/js/funktion.js")  
        link(rel="stylesheet" type="text/css" href="/css/koebTalraekker.css")

    body 

        #container
            #backButton
                a.buttonBack(href="/")= 'Startside'
            #buyRowTitle Tilføj talrække(r)
            #choseMember Vælg medlem
            #memberArea
                each member in members
                    button.memberButton(onclick='javascript: addGPwithRows(\''+game.docID+','+member.docID+'\')')=member.fornavn
            #pickRows Vælg række(r)              
            #inputfield
                div(id="main")
                    div(id="d1")
                        p Talrække 1
                        input(id="1", type="number") 
                        input(id="2", type="number")
                        input(id="3", type="number")
                        input(id="4", type="number")
                        input(id="5", type="number")
            #extraRowButton
                button.buttonExtraRow(onclick="javascript: addRows()") Tilføj end en række 


