html 
    head 
        title Deltagere 
    body 
        form(action=`/`, method="post") 
            p talrække#1
            textarea(name="1", cols="1", rows="1") 
            textarea(name="2", cols="1", rows="1")
            textarea(name="3", cols="1", rows="1")
            textarea(name="4", cols="1", rows="1")
            textarea(name="5", cols="1", rows="1")
            ul 
                each medlem in medlemmer
                    li 
                        a(href='/medlem/' + medlem.docID)= medlem.Fornavn
                        a(href=`/${lotteri.docID}/${medlem.docID}`) Tilføj
          
                    