html 
    head 
        title Deltagere
        script(src="/js/funktion.js")  
    body 
        div(id="main")
            div(id="d1")
                p talrække#1
                input(id="1", type="number") 
                input(id="2", type="number")
                input(id="3", type="number")
                input(id="4", type="number")
                input(id="5", type="number")
        button(onclick="javascript: addRows()") Tilføj rows 
        ul 
            each member in members
                li 
                    a(href='/member/' + member.docID)= member.Fornavn
                    a(href=`/${game.docID}/${member.docID}`) Tilføj
                    button(onclick='javascript: addGPwithRows(\''+game.docID+','+member.docID+'\')') tryk
        