html 
    head 
        title Deltagere 
        script(src="js/function.js")
    body 
        form(action="/addDeltagere", method="post") 
            ul 
                each medlem in medlemmer
                    li
                        a(href='/medlem/' + medlem.docID)= medlem.Fornavn
                        a(href='javascript:tilføDeltager(\''+ medlem.docID +'\')') Tilføj
          
                    