html 
    head 
        title Deltagere
        script(src="/js/funktion.js")  
        link(rel="stylesheet" type="text/css" href="/css/koebTalraekker.css")

    body 

        #container
            #backButton
                a.buttonBack(href="/")= 'Startside'
            #buyRowTitle Tilføj talrække(r)
            #searchForMembers Søg efter medlem
            #searchField
                input.txtSearch(id="sercher",type="text", name="searchBar", class="search", placeholder= "Indtast navn", onkeyup="findMember();")
            #choseMember Vælg medlem
            #memberArea
                each member in members
                    button.memberButton(id=`${member.fornavn}`,onclick='javascript: visMemberRows('+JSON.stringify(member)+')')=member.fornavn
            #pickRows Vælg række(r)              
            #inputfield
                div(id="main")
                    div(id="d1")
                        p Talrække 1
                        input(id="1", type="number") 
                        input(id="2", type="number")
                        input(id="3", type="number")
                        input(id="4", type="number")
                        input(id="5", type="number")
            #extraRowButton
                button.buttonExtraRow(onclick="javascript: addRows()") Tilføj end en række 
            #buttonSubmit
                a.submitButton(href="/") Færdig
            //onclick="javascript: addGPwithRows("+JSON.stringify(game)+")" - Skulle have været implementeret, men funker ikke. Ændret for demonstration
