html 
    head 
        title Deltagere
        script(src="/js/funktion.js")  
    body 
        p talrække#1
        textarea(id="1", cols="1", rows="1", value="value") 
        textarea(id="2", cols="1", rows="1", value="value")
        textarea(id="3", cols="1", rows="1", value="value")
        textarea(id="4", cols="1", rows="1", value="value")
        textarea(id="5", cols="1", rows="1", value="value")
        ul 
            each medlem in medlemmer
                li 
                    a(href='/medlem/' + medlem.docID)= medlem.Fornavn
                    a(href=`/${lotteri.docID}/${medlem.docID}`) Tilføj
                    button(onclick='javascript: print(\''+ lotteri.docID+','+ medlem.docID +'\')') tryk
                