html 
    head 
        title Deltagere
        script(src="/js/funktion.js")  
    body 
        div(id="d1")
            p talrække#1
            textarea(id="1", cols="1", rows="1", value="value") 
            textarea(id="2", cols="1", rows="1", value="value")
            textarea(id="3", cols="1", rows="1", value="value")
            textarea(id="4", cols="1", rows="1", value="value")
            textarea(id="5", cols="1", rows="1", value="value")
        button(onclick="javascript: addTextArea()") Tilføj flere 
        ul 
            each medlem in medlemmer
                li 
                    a(href='/medlem/' + medlem.docID)= medlem.Fornavn
                    a(href=`/${lotteri.docID}/${medlem.docID}`) Tilføj
                    button(onclick="javascript: addGPwithRows()") tryk
        