html 
  head  
    title Add game
    style
    script(src="js/event.js" defer) 
    link(rel="stylesheet" type="text/css" href="/css/addGame.css")
  body
      #container
          #backButton 
              a.buttonBack(href="/")= 'Startside'
          #createGameTitle Opret lotteri
          #dateTitle Vælg dato
          #lowestNumberTitle Vælg laveste nummer
          #highestNumberTitle Vælg højeste nummer  
          #amountOfWinningNumbersTitle Vælg antal vindertal 
          #dateInput
            form(action="/addgame", method="post")
              input.inputField(type="date", name="date")
          #lowestNumberInput        
            form(action="/addgame", method="post")
              input.inputField(type="number", name="lowestNum", min= "1")
          #highestNumberInput
            form(action="/addgame", method="post")        
              input.inputField(type="number", name="highestNum", min= "1")
          #amountOfWinningNumbersInput
            form(action="/addgame", method="post")        
              input.inputField(type="number", name="amountOfWinningNum", min= "1", max= "5")
          #submitButton
            form(action="/addgame", method="post")
              button.buttonSubmit(type="submit", value="Opret lotteri") Opret lotteri
