html 
  head  
    title Add game
    style
    script(src="js/event.js" defer) 
    link(rel="stylesheet" type="text/css" href="/css/addGame.css")
  body
      #container
          #backButton 
              a.buttonBack(href="/")= 'Startside'
          #createGameTitle Opret lotteri
          #dateTitle Vælg dato
          #lowestNumberTitle Vælg laveste nummer
          #highestNumberTitle Vælg højeste nummer 
          #amountOfWinningNumbersTitle Vælg antal vindertal
          #inputFieldLine  
            form(action="/addgame", method="post")   
                input.inputField1(type="date", name="date")        
                input.inputField2(type="number", name="lowestNum", min= "1")   
                input.inputField3(type="number", name="highestNum", min= "1")       
                input.inputField4(type="number", name="amountOfWinningNums", min= "1", max= "5")
                button.buttonSubmit(type="submit", value="Opret lotteri") Opret lotteri
