html 
  head  
    title Add lotteri
    style
  body 
    form(action="/addLotteri", method="post") 
      p= "Vælg dato for lotteri"
      input(type="date", name="date", placeholder= "Indtast Dato")
      br
      input(type="text", name="LowestNum", placeholder= "indtast laveste tal")
      br
      input(type="text", name="HighestNum", placeholder= "indtast højeste tal")
      br
      input(type="text", name="AmountOfWinningNum", placeholder= "Indtast antal windertal")
      br
      button(type="submit", value="Opret lotteri") 🚙 Opret lotteri