html 
  head  
    title Add lotteri
    style
  body 
    form(action="/addLotteri", method="post") 
      input(type="date", name="date")
      button(type="submit", value="Opret lotteri") 🚙 Opret lotteri