html 
  head  
<<<<<<< HEAD:views/addMember.pug
      title Add medlem
      style
      link(rel="stylesheet" type="text/css" href="/css/addMedlem.css")
  body
      #container
          #backButton 
              a.buttonBack(href="/")= 'Startside'
          #addMemberTitle Opret medlem
          #createMemberArea
              form(action="/addMember", method="post") 
                  input.inputField(type="number", name="medlemsID", placeholder="Indtast ID")
                  input.inputField(type="text", name="Fornavn", placeholder="Indtast fornavn")
                  input.inputField(type="text", name="Efternavn", placeholder="Indtast efternavn")
                  button(type="submit", value="Opret medlem") Opret medlem
          #opretMemberArea 

=======
    title Add medlem
    style
    link(rel="stylesheet" type="text/css" href="/css/addMedlem.css")
  body 
    .h1 OPRET MEDLEM
    form(action="/addMedlem", method="post") 
       input(type="number", name="medlemsID", placeholder="Indtast ID")
       input(type="text", name="Fornavn", placeholder="Indtast fornavn")
       input(type="text", name="Efternavn", placeholder="Indtast efternavn")
       button(type="submit", value="Opret medlem") Opret medlem
    a.button(href='/medlemmer') Tilbage   
>>>>>>> parent of 003851e (Merge branch 'newBranch' of https://github.com/Mykhailo21T/projektLotteriet into newBranch):views/addMedlem.pug
