html 
  head  
    title Add medlem
  body 
    form(action="/addMedlem", method="post") 
      input(type="number", name="medlemsID", placeholder="Skriv ID")
      input(type="text", name="Fornavn", placeholder="Skriv fornavn")
      input(type="text", name="Efternavn", placeholder="Skriv efternavn")
      button(type="submit", value="Opret medlem") 🚙 Opret Medlem