html 
  head  
      title Add medlem
      style
      link(rel="stylesheet" type="text/css" href="/css/addMedlem.css")
  body
      #container
          #backButton 
              a.buttonBack(href="/")= 'Startside'
          #addMemberTitle Opret medlem
          #createMemberArea
              form(action="/addMedlem", method="post") 
                  input.inputField(type="number", name="medlemsID", placeholder="Indtast ID")
                  input.inputField(type="text", name="Fornavn", placeholder="Indtast fornavn")
                  input.inputField(type="text", name="Efternavn", placeholder="Indtast efternavn")
                  button(type="submit", value="Opret medlem") Opret medlem
          #opretMemberArea 

