html 
  head  
    title Add medlem
    style
    link(rel="stylesheet" type="text/css" href="/css/addMedlem.css")
  body 
    .h1 OPRET MEDLEM
    form(action="/addMedlem", method="post") 
       input(type="number", name="medlemsID", placeholder="Indtast ID")
       input(type="text", name="Fornavn", placeholder="Indtast fornavn")
       input(type="text", name="Efternavn", placeholder="Indtast efternavn")
       button(type="submit", value="Opret medlem") Opret medlem
    a.button(href='/medlemmer') Tilbage   