html 
  head  
    title Add medlem
  body 
    form(action="/addMedlem", method="post") 
      input(type="text", name="fornavn", placeholder="Skriv fornavn")
      input(type="text", name="efternavn", placeholder="Skriv efternavn")
      button(type="submit", value="Opret medlem") 🚙 Opret Medlem