html 
    head 
        title Games
        link(rel="stylesheet" type="text/css" href="/css/lotterier.css")
    body
    #container
            #lotteriOversigt OVERSIGT OVER LOTTERIUDTRÆKNINGER
            #backButton 
                a.buttonBack(href="/")= 'Forside'       
            #futureWinningTicket Kommende udtrækninger
                each game in upcoming 
                            a.buttonFutureWinningTicket(href="/game/"+game.docID)= game.date 
                            .marginBot
            #todaysTicket   Dagens udtrækninger
                a.buttonTodaysTicket(href="/game/")= 'Dato skal indsættes'
            #previousWinningTicket Tidligere udtrækninger
                each game in previous  
                            a.buttonPreviousTickets(href="/game/"+game.docID)= game.date
                            .marginBot