html 
    head 
        title lotterier
        link(rel="stylesheet" type="text/css" href="/css/lotterier.css")
    body
    #container
            #lotteriOversigt OVERSIGT OVER LOTTERIUDTRÆKNINGER
            #backButton 
                a.button(href="/")= 'Forside'       
            #futureWinningNumbers Kommende udtrækninger
                each lotteri in lotterier 
                    li 
                            a.fwList(href="/lotteri/"+lotteri.docID)= lotteri.date 
            #previousWinningNumbers Tidligere udtrækninger