html 
    head 
        title lotterier
        link(rel="stylesheet" type="text/css" href="/css/lotterier.css")
    body
    #container
            #lotteriOversigt OVERSIGT OVER LOTTERIUDTRÆKNINGER
            #backButton 
                a.buttonBack(href="/")= 'Forside'       
            #futureWinningTicket Kommende udtrækninger
                each lotteri in upcoming 
                            a.buttonFutureWinningTicket(href="/lotteri/"+lotteri.docID)= lotteri.date 
                            .marginBot
            #todaysTicket   Dagens udtrækninger
                a.buttonTodaysTicket(href="/lotteri/")= 'Dato skal indsættes'
            #previousWinningTicket Tidligere udtrækninger
                each lotteri in previous  
                            a.buttonPreviousTickets(href="/lotteri/"+lotteri.docID)= lotteri.date
                            .marginBot