html 
    head 
        title lotteri
        script(src="js/function.js") 
    body 
        h1= 'date: '+lotteri.date 
        h1= 'vindertal: '+lotteri.Vindertal
            button(type='submit',value='tilfoejVT',onClick='javascript:tilfoejVT('+lotteri.docID+')') TilføjVT
        h1= 'talrækker: '+lotteri.Talrækker 
            button(type='submit',value='tilfoejTR',onClick='javascript:købTR('+lotteri.docID+')') KøbTR
        h1= 'deltagere: '+lotteri.Deltagere
            button(type='submit',value='tilfoejD',onClick='javascript:tilføjDeltager('+lotteri.docID+')') TilføjD