html 
    head 
        title Medlemmer 
    body 
        a(href='/')= '<Tilbage'
        br
        a(href='/addMedlem')= 'Opret medlem'
        ul 
            each medlem in medlemmer
                li
                    a(href='/medlem/' + medlem.docID)= medlem.Fornavn
                    
                    