html 
    head 
        title Medlemmer 
    body 
        ul 
            each medlem in medlemmer
                li
                    a(href="/medlem/" + medlem.medlemsID)= medlem.fornavn
                    