html 
    head 
        title medlem
        link(rel="stylesheet" type="text/css" href="/css/medlem.css")
    body 
        .h1 MEDLEMS-INFO
        p= 'Fornavn: ' + member.fornavn 
        p= 'Efternavn: ' +member.efternavn
        p= 'Medlems-ID: ' +member.membersID

        a.button(href='/members') Tilbage