html 
    head 
        title Members 
        link(rel="stylesheet" type="text/css" href="/css/medlemmer.css")
    body 
     .h1 MEDLEMMER
        br
        a.button(href='/addMember') Opret medlem
        .ul 
            each member in members
                li
                    a(href='/member/' + member.docID)= member.Fornavn
        a.button(href='/') Tilbage
                    
                    