html 
    head 
        title Startside
        script(scr="js/tom.pug")
        link(rel="stylesheet" type="text/css" href="/css/start.css")

    body 
        .h1 VÆRTSHUSLOTTERI
        a.button(href='http://localhost:8000/medlemmer') Medlemmer
        br
        a.button(href='http://localhost:8000/lotterier') Oversigt over udtrækninger
        br
        a.button(href='/addLotteri') Opret lotteriudtrækning