html 
    head 
        title Startside
        script(scr="js/tom.pug")
    body 
        
        a(href='http://localhost:8000/medlemmer') Medlemmer
        br
        a(href='http://localhost:8000/lotterier') Oversigt over udtrækninger