#container {
    
    width: 90%;
    margin: 30px;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    
    
    


    grid-template-areas: 
    "a . . . . ."
    "b b b b b b"
    "h . i i i i"
    "e e e e e e"
    "f f f f f f"
    "g g g g g g"
    "c c c c . d";
}

body {
    background-color:#FDF8E2;
}

h2 {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  
  #backButton {
      grid-area: a;
  }
  
  #buyRowTitle {
      grid-area: b;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 350%;
      padding-top: 5%;
      padding-bottom: 5%;
      padding-left: 6%;
      color: white;
      text-shadow: 2pt 0 0 #000, 0 -1px 0 #000, 0 1pt 0 #000, -1px 0 0 #000;
      background-color: rgb(230, 19, 19);
      height: 40pt;
      margin-bottom: 50pt;
      margin-top: 10pt;
      border-radius: 25pt;  
      text-align: center;
      margin-right: -60pt;
      padding-right: 60pt;
      
  }

  .buttonBack{
    appearance: none;
    background-color: white;
    border: 2pt solid rgb(230, 19, 19);
    border-radius: 15px;
    box-sizing: border-box;
    color: rgb(230, 19, 19);
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16pt;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    width: 100pt;
    will-change: transform;
  }

  .buttonBack:hover {
    color: white;
    background-color: rgb(230, 19, 19);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  #inputField {
    grid-area: c;
  }

  input{
    height: 50pt;
    width: 120pt ;
    font-size: 50pt;
    text-align: center;
    color: rgb(230, 19, 19);
    border-color: rgb(230, 19, 19);
  }

  #extraRowButton {
    grid-area: d;
  }

  .buttonExtraRow{
    appearance: none;
    background-color: white;
    border: 2pt solid rgb(230, 19, 19);
    border-radius: 30pt;
    box-sizing: border-box;
    color: rgb(230, 19, 19);
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16pt;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    width: 190pt;
    will-change: transform;
    margin-top: 62pt;
  }

  .buttonSubmit:hover {
    color: white;
    background-color: rgb(230, 19, 19);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  p {
    font-size: 20pt;
    background-color: rgb(230, 19, 19);
    text-align: center;
    color: white;
    text-shadow: 2pt 0 0 #000, 0 -1px 0 #000, 0 1pt 0 #000, -1px 0 0 #000;
    background-color: rgb(230, 19, 19);
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-right: 168pt;
    border-radius: 25pt;
  }

  #choseMember {
    grid-area: e;
    background-color:rgb(230, 19, 19);
    color: white;
    text-shadow: 2pt 0 0 #000, 0 -1px 0 #000, 0 1pt 0 #000, -1px 0 0 #000;
    margin-left: 50pt;
    margin-top: 50pt;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 300%;
    text-align: center;
    border-radius: 25pt;
    margin-right: -60pt;
    margin-left: -2pt;
    margin-top: 100pt;
    padding-right: 60pt;
  }


  #pickRows {
    grid-area: g;
    background-color:rgb(230, 19, 19);
    color: white;
    text-shadow: 2pt 0 0 #000, 0 -1px 0 #000, 0 1pt 0 #000, -1px 0 0 #000;
    margin-left: 50pt;
    margin-top: 50pt;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 300%;
    text-align: center;
    border-radius: 25pt;
    margin-right: -60pt;
    margin-left: -2pt;
    margin-top: 60pt;
    padding-right: 60pt;
  }

  #searchForMembers {
    grid-area: h;
    background-color:rgb(230, 19, 19);
    color: white;
    text-shadow: 2pt 0 0 #000, 0 -1px 0 #000, 0 1pt 0 #000, -1px 0 0 #000;
    margin-left: 50pt;
    margin-top: 50pt;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20pt;
    text-align: center;
    border-radius: 25pt;
    margin-right: -60pt;
    margin-left: -2pt;
    margin-top: 60pt;
    padding-right: 60pt;
    height: 25pt;
    width: 380pt;
    
  }

  #memberArea {
    grid-area: f;
  }


  .memberButton {
    appearance: none;
    background-color: white;
    border: 4pt solid rgb(230, 19, 19);
    border-radius: 15pt;
    box-sizing: border-box;
    color: rgb(230, 19, 19);
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16pt;
    font-weight: 600;
    line-height: normal;
    margin-top: 20pt;
    margin-left: 122pt;
    margin-right: 168pt;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    width: 80%;
    will-change: transform;
    height: 50pt;  
    align-items: center;
  }

  .memberButton:hover {
    color: #fff;
    background-color: rgb(230, 19, 19);
    box-shadow: rgba(87, 178, 234, 0.25) 1 8px 15px;
    transform: translateY(-2px);
  }

  #searchField {
    grid-area: i;
    margin-top: 45pt;
    margin-left: 70pt;
  }

  .txtSearch {
    font-size: 20pt;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
    color: rgb(230, 19, 19);
    background-color: white;
    height: 30pt;
    width: 200pt;
    border-radius: 25pt;
    height: 50pt;
    font-size: 25pt;
    border-color:rgb(230, 19, 19);
    width: 400pt;
  }


  