#container {
    
    width: 90%;
    margin: 30pt;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5pt;
    
    
    


    grid-template-areas: 
    "a . . . . ."
    "b b b b b b"
    ". c . . d .";
}

body {
  background-color:#FDF8E2;
}

#lotteriOversigt {
grid-area: b;
font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 300%;
padding-top: 5%;
text-align: center;
padding-bottom: 5%;
color: white;
text-shadow: 1pt 0 0 #000, 0 -1px 0 #000, 0 1pt 0 #000, -1px 0 0 #000;
}

#backButton {
    grid-area: a;
    
}

.button{
  appearance: none;
  background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16pt;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}


#previousWinningNumbers {
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
   grid-area: c;
   color :#ffab91;
   font-size: 200%;

   border-style: dotted;
   border-width: 0.5rem;
   border-color: #ffab91;
   background-color:white;
   border-radius: 30%;
}

#futureWinningNumbers {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-area: d;
    color: rgb(49, 223, 110);
    font-size: 200%;
    border-style: dotted;
    border-width: 0.5rem;
    border-color: rgb(49, 223, 110);
    background-color: white;
    border-radius: 30%;
    
}

a.fwList{
    color :rgb(49, 223, 110);
    font-size: 80%;
}

a.fwList:hover {
  color: forestgreen;
  transform: translateY(-2px);
}
