#container {
    
  width: 90%;
  margin: 30pt;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5pt;

  
  


  grid-template-areas: 
  "a . . . . . ."
  "b b b b b b b"
  "c c c c c c c";

}

body {
  background-color:#FDF8E2;
}

#backButton {
  grid-area: a;
}


.buttonBack{
appearance: none;
background-color: white;
border: 2pt solid rgb(39, 65, 236);
border-radius: 15px;
box-sizing: border-box;
color: rgb(39, 65, 236);
cursor: pointer;
display: inline-block;
font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 16pt;
font-weight: 600;
line-height: normal;
margin: 0;
min-height: 60px;
min-width: 0;
outline: none;
padding: 16px 24px;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select: none;
touch-action: manipulation;
width: 100pt;
will-change: transform;
}

.buttonBack:hover {
color: #fff;
background-color: rgb(39, 65, 236);
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

#memberTitle {
  grid-area: b;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 350%;
  padding-top: 5%;
  text-align: center;
  padding-bottom: 5%;
  color: white;
  text-shadow: 2pt 0 0 #000, 0 -1px 0 #000, 0 1pt 0 #000, -1px 0 0 #000;
  background-color: rgb(39, 65, 236);
  height: 40pt;
  margin-bottom: 50pt;
  margin-top: 10pt;
  border-radius: 25pt;
  margin-right: -60pt;
  padding-right: 20pt;
  }

#memberArea {
  grid-area: c;
}

.memberButton {
  appearance: none;
  background-color: white;
  border: 4pt solid rgb(39, 65, 236);
  border-radius: 15pt;
  box-sizing: border-box;
  color: rgbrgb(39, 65, 236);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16pt;
  font-weight: 600;
  line-height: normal;
  margin-top: 20pt;
  margin-left: 122pt;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  touch-action: manipulation;
  width: 80%;
  will-change: transform;
  height: 50pt;  
  align-items: center;
  padding-top: 10pt;
}

.memberButton:hover {
  color: #fff;
  background-color: rgb(39, 65, 236);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}


.h1 {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 32px;
      font-weight: 600;
      text-align: center;
}